* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Lato', sans-serif;
}

body {
    background-color: rgb(255, 187, 0);
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', serif;
}
.custom-btn {
    background-color: #a52a2a;
    color: white;
}

.custom-btn:hover {
    background-color: rgb(238, 63, 63);
    color: white;
}

.thumbnail {
    height: 18rem;
    object-fit: cover;
    object-position: center;
}